In [1]:
print("hello")
print("world")

hello
world

In [6]:
if 1 > 0:
    print("양수")
else:
    print("양수가 아님.")

양수

## 파이썬 문법

+ 리스트1
+ 리스트2
    - 내부 리스트1
    - 내부 리스트2
+ 링크
    - [네이버](http://naver.com)

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(10):
    pass

In [10]:
for i in range(10): pass

In [11]:
import requests  # pip install requests

res = requests.get("http://naver.com")
html = res.text
len(html)

163372

In [12]:
'히든프라이스' in html

True

In [13]:
# HTML Parser
from bs4 import BeautifulSoup # pip install beautifulsoup4

soup = BeautifulSoup(html, 'html.parser')

In [19]:
tag_list = soup.select('.PM_CL_realtimeKeyword_list_base .ah_k')
len(tag_list)

20

In [20]:
tag_list[0]

In [22]:
type(tag_list[0])

bs4.element.Tag

In [24]:
tag_list[0].text, tag_list[1].text

('히든프라이스', '2019 아카데미 시상식')

In [25]:
for tag in tag_list:
    print(tag.text)

히든프라이스
2019 아카데미 시상식
삼성라이온즈
라미 말렉
케파
그린북
권오중 아들 발달장애
강정호
전소니
노승일
첼시 맨시티
루시 보인턴
에듀파인
발달장애
한예슬
v50
lg v50
맨유 리버풀
아미피디아
화웨이 폴더블폰

코드 정리

In [31]:
import requests                # pip install requests
from bs4 import BeautifulSoup  # pip install beautifulsoup4

res = requests.get("http://naver.com")
html = res.text
soup = BeautifulSoup(html, 'html.parser')

tag_list = soup.select('.PM_CL_realtimeKeyword_list_base .ah_k')

# keyword_list = []
# for tag in tag_list:
#     keyword_list.append(tag.text)
    
# keyword_list

# List Comprehension
keyword_list = [tag.text for tag in tag_list]
keyword_list

['히든프라이스',
 '2019 아카데미 시상식',
 '라미 말렉',
 '루시 보인턴',
 '삼성라이온즈',
 '케파',
 '권오중 아들 발달장애',
 '그린북',
 '강정호',
 '노승일',
 '첼시 맨시티',
 '발달장애',
 'v50',
 'lg v50',
 '에듀파인',
 '아미피디아',
 '한예슬',
 '맨유 리버풀',
 '화웨이 폴더블폰',
 '홍익표']

In [32]:
[tag.text for tag in tag_list]  # list comprehension

['히든프라이스',
 '2019 아카데미 시상식',
 '라미 말렉',
 '루시 보인턴',
 '삼성라이온즈',
 '케파',
 '권오중 아들 발달장애',
 '그린북',
 '강정호',
 '노승일',
 '첼시 맨시티',
 '발달장애',
 'v50',
 'lg v50',
 '에듀파인',
 '아미피디아',
 '한예슬',
 '맨유 리버풀',
 '화웨이 폴더블폰',
 '홍익표']

In [33]:
{tag.text for tag in tag_list}  # set comprehension

{'2019 아카데미 시상식',
 'lg v50',
 'v50',
 '강정호',
 '권오중 아들 발달장애',
 '그린북',
 '노승일',
 '라미 말렉',
 '루시 보인턴',
 '맨유 리버풀',
 '발달장애',
 '삼성라이온즈',
 '아미피디아',
 '에듀파인',
 '첼시 맨시티',
 '케파',
 '한예슬',
 '홍익표',
 '화웨이 폴더블폰',
 '히든프라이스'}

In [34]:
{tag.text: len(tag.text) for tag in tag_list}  # dict comprehension

{'히든프라이스': 6,
 '2019 아카데미 시상식': 13,
 '라미 말렉': 5,
 '루시 보인턴': 6,
 '삼성라이온즈': 6,
 '케파': 2,
 '권오중 아들 발달장애': 11,
 '그린북': 3,
 '강정호': 3,
 '노승일': 3,
 '첼시 맨시티': 6,
 '발달장애': 4,
 'v50': 3,
 'lg v50': 6,
 '에듀파인': 4,
 '아미피디아': 5,
 '한예슬': 3,
 '맨유 리버풀': 6,
 '화웨이 폴더블폰': 8,
 '홍익표': 3}

In [35]:
(tag.text for tag in tag_list)

In [39]:
def mysum(x, y):
    '''2개의 인자를 받아서, 더한 값을 반환해주는 함수
    '''
    return x + y

In [40]:
mysum(1, 2)

3

## 제어구조

### 반복문

In [41]:
for ch in "hello world":
    print(ch)

h
e
l
l
o

w
o
r
l
d

In [43]:
for number in [2, 3, 4, 5, 6, 7, 8, 9]:
    for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
        print(number, i, number*i)

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [44]:
for number in range(2, 10):  # Generator
    for i in range(1, 10):
        print(number, i, number*i)

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [46]:
for i in range(1000000000000000):
    print('*')
    break

*

In [51]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

`dict`의 for

In [52]:
철수_성적 = {
    '국어': 100,
    '영어': 70,
    '수학': 90,
}

In [54]:
for key in 철수_성적:
    print(key, 철수_성적[key])

국어 100
영어 70
수학 90

In [55]:
철수_성적.keys()

dict_keys(['국어', '영어', '수학'])

In [56]:
철수_성적.values()

dict_values([100, 70, 90])

In [57]:
철수_성적.items()

dict_items([('국어', 100), ('영어', 70), ('수학', 90)])

In [59]:
for key, value in 철수_성적.items():
    print(key, value)

국어 100
영어 70
수학 90

In [63]:
for rank, (key, value) in enumerate(철수_성적.items(), 1):
    print(rank, key, value)

1 국어 100
2 영어 70
3 수학 90

3과 5의 공배수를 출력하기

In [64]:
mysum = 0

for i in range(1, 100):
    if i % 3 == 0 and i % 5 == 0:
        mysum += i

mysum

315

In [65]:
mysum = 0

for i in range(1, 100):
    if i % 15 == 0:
        mysum += i

mysum

315

In [66]:
mysum = 0

for i in range(15, 100, 15):
    mysum += i

mysum

315

In [68]:
list(range(15, 100, 15))

[15, 30, 45, 60, 75, 90]

In [69]:
sum(list(range(15, 100, 15)))

315

In [70]:
sum(range(15, 100, 15))

315

## 함수

```c
// c
int mysum(int x, int y) {
    return x + y;
}

void myprint(char *line) {
    // ...
}
```

In [71]:
def mysum(x, y):
    return x + y

In [73]:
def myprint(line):
    print(line * 3)
    
ret = myprint("hello")
print(ret)

hellohellohello
None

In [74]:
print("hello")

hello

In [75]:
mysum(1, 2)

3

In [76]:
def mysum2(x, y):
    if x > 0:
        return x + y + 10
    
print(mysum2(1, 2))
print(mysum2(-1, 2))

13
None

In [77]:
def 부가세_계산(결제금액):
    return 결제금액 // 11

In [78]:
부가세_계산(20000)

1818

In [82]:
def 부가세_계산2(결제금액):
    부가세 = 결제금액 // 11
    부가세_뺀_금액 = 결제금액 - 부가세
#     return {'부가세_뺀_금액': 부가세_뺀_금액, '부가세': 부가세}
    return 부가세_뺀_금액, 부가세

금액1, 금액2 = 부가세_계산2(20000)

In [92]:
def 월급계산(기본급, 야근시간):
    return 기본급 + 야근시간 * 10000

In [93]:
월급계산(1000000, 40)

1400000

In [94]:
월급계산(40, 1000000)

10000000040

In [95]:
월급계산(기본급=1000000, 야근시간=40)

1400000

In [96]:
월급계산(야근시간=40, 기본급=1000000)

1400000

In [97]:
월급계산(1000000, 야근시간=40)

1400000

In [98]:
월급계산(야근시간=40, 1000000)

SyntaxError: positional argument follows keyword argument (<ipython-input-98-2a63225a9893>, line 1)

In [99]:
월급계산(1000000)

TypeError: 월급계산() missing 1 required positional argument: '야근시간'

In [100]:
def 월급계산2(기본급, 야근시간=0):
    return 기본급 + 야근시간 * 10000

In [101]:
월급계산2(1000000)

1000000

In [104]:
값들 = [1000000, 40]

print(월급계산(값들[0], 값들[1]))
print(월급계산(*값들))  # unpack

1400000
1400000

In [107]:
인자 = {'기본급': 1000000, '야근시간': 40}
# 월급계산(기본급=인자['기본급'], 야근시간=인자['야근시간'])
월급계산(**인자)  # unpack

1400000

## 익명 함수

In [108]:
def fn(x, y):
    return x + y

fn

In [109]:
fn(1, 2)

3

In [111]:
other_fn = fn
other_fn(1, 2)

3

In [113]:
(lambda x, y: x + y)(1, 2)

3

In [114]:
fn = lambda x, y: x + y
fn

In [121]:
def myfn(base):
    fn = lambda x, y: x + y + base
    return fn

base_10 = myfn(10)
base_20 = myfn(20)
base_10

In [122]:
print(base_10(1, 2))
print(base_20(1, 2))

13
23

In [123]:
def myfn(base):
    def fn(x, y):
        return x + y + base
    return fn

In [124]:
def mysum(x, y):
    return x + y

mysum(1, 2)

3

In [2]:
철수_성적

NameError: name '철수_성적' is not defined